{{template "status"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Tailscale State</title>

</head>
<body>
<h1>Tailscale State</h1>
    <p>Tailscale IP: 
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Peer</th>
                    <th>OS</th>
                    <th>Node</th>
                    <th>Hostname</th>
                    <th>Owner</th>
                    <th>IPs</th>
                    <th>Rx</th>
                    <th>Tx</th>
                    <th>Activity</th>
                    <th>Connection</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>{{.ID}}</td>
                    <td class=acenter>.Peer</td>
                    <td>.OS</td>
                    <td class=\"acenter owner\">{{.Owner}}</td>
                    <td><div class=\"tailaddr\">{{.IPs}}</div></td>
                    <td class=\"aright\"></td>
                    <td class=\"aright\"></td>
                    <td class=\"aright\"></td>
                    <td class=\"aright\"></td>
                    <td></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </p>
</body>